body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "lateral meio meio"
    "pe pe pe";
    grid-template-columns: 250px auto auto;
    grid-auto-rows: 200px auto auto;
}

header{
    grid-area: cabeca;
    background-color: rgb(22, 117, 199);
}

aside{
    grid-area: lateral;
    background-color: rgb(213, 94, 150);
}

main{
    grid-area: meio;
    background-color: pink;

}

footer{
    grid-area: pe;
    background-color: rgb(221, 94, 215);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_footer{
    width: 300px;
    height: auto;
}
.texto_footer{
    height: 300px;
    width: 300px;
    text-align: center;
    padding: 10px;
    color:white;

}

.botao2{
    position: absolute;
    right: 10px;
}





@media screen and (max-width: 800px){
    body{
       grid-template-areas: 
       "cabeca"
       "lateral"
       "meio"
       "pe";
       grid-template-columns: auto;
       grid-template-rows: auto auto auto auto;
    }
}
.caixamae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(182, 50, 105);
    transition: 0.5s;
}
.card:hover{
    background-color: rgb(233, 167, 216);
}

.card a{
    border-radius: 30px;
    background-color: white;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 1s;
}
header nav li{
    display: inline;
}

header nav{
    border: 2px rgb(163, 109, 145);
    position: absolute;
    right: 30px;
    top: 30px;
}
header nav a{
    text-decoration: none;
    margin-left: 20px;
    background-color: rgb(191, 147, 167);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
}
header a:hover{
    background-color: rgb(231, 98, 98);
    transition: 1.5s;
}

.card img{
    width: 150px;
    height: 200px;
}
.botao{
    border-radius: 100px;
    width: 90px;
    height: 25px;
    color: rgb(207, 226, 226);
    background-color: rgb(227, 102, 102);
}
.botao2{
    border-radius: 75px;
    width: 87px;
    height: 25px;
    color: aliceblue;
    background-color: pink;
}
.botao3{
    border-radius: 75px;
    width: 87px;
    height: 25px;
    color: aquamarine;
    background-color: pink;
}
header{
    background-color: rgb(235, 134, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header img{
    height: 200px;

}
@media only screen and (with-max: 400px){
    body{
        display: grid;
        grid-template-areas: 
        "cabe"
        "prin"
        "roda";
        grid-template-columns: auto;
        grid-template-rows: 200px 800px 200px;
    }
}


