body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "lateral meio meio"
    "pe pe pe";
    grid-template-columns: 250px auto auto;
    grid-auto-rows: 200px auto auto;
}

header{
    grid-area: cabeca;
    background-color: aliceblue;
}

aside{
    grid-area: lateral;
    background-color: azure;
}

main{
    grid-area: meio;
    background-color: whitesmoke;

}

footer{
    grid-area: pe;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_footer{
    width: 300px;
    height: auto;
}
.texto_footer{
    height: 300px;
    width: 300px;
    text-align: center;
    padding: 10px;
    color:white;
}






@media screen and (max-width: 800px) {
    body{
       grid-template-areas: 
       "cabeca"
       "lateral"
       "meio"
       "pe";
       grid-template-columns: auto;
       grid-template-rows: auto auto auto auto;
    }
}
.caixamae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: palevioletred;
    transition: 0.5s;
}
.card:hover{
    background-color: rgb(201, 117, 180);
}

.card a{
    border-radius: 30px;
    background-color: white;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: purple;
    transition: 1s;
}
header nav li{
    display: inline;
}

header nav{
    border: 2px rgb(228, 56, 228);
    position: absolute;
    right: 30px;
    top: 30px;
}
header nav a{
    text-decoration: none;
    margin-left: 20px;
    background-color: brown;
    color: aquamarine;
    border-radius: 10px;
    padding: 15px;
}

.card img{
    width: 150px;
    height: 200px;
}
.botao{
    border-radius: 100px;
    width: 90px;
    height: 25px;
    color: rgb(207, 226, 226);
    background-color: tomato;
}
.botao2{
    border-radius: 75px;
    width: 87px;
    height: 25px;
    color: aliceblue;
    background-color: aqua;
}
.botao3{
    border-radius: 75px;
    width: 87px;
    height: 25px;
    color: aquamarine;
    background-color: aqua;
}

